---

---
<form action="/productos" class="mt-5 phone:text-center laptop:text-left laptop:ml-4">
  <h3 class="text-sm text-ic-gray">Buscar por codigo/texto</h3>
  <input
    class="px-1 phone:w-3/12 tablet:w-1/12 focus:w-2/3 tablet:focus:w-3/12 duration-200 bg-ic-disabled rounded focus:text-ic-white text-ic-black"
    type="text"
  />
  <button
    class="text-sm px-1 rounded-sm bg-ic-disabled text-ic-gray hover:text-ic-white"
    >Buscar</button
  >
</form>