<div class="ml-3 my-4">
  <h3>Ordenar por</h3>
  <select name="" id="" class="bg-ic-disabled rounded-sm">
    <option>-- Selecciona --</option>
    <option>Codigo</option>
    <option>Precio</option>
    <option>Activo</option>
    <option>Categoria</option>
  </select>
</div>
