---
import RowTableCategorias from "../categoriaComponents/RowTableCategorias.astro";
import Find from "./FindProductos";
import RowTableProductos from "./RowTableProductos.astro";
    const {text} = Astro.props
    const getProductos = async() => {
        try{
            let url = `http://localhost:8000/api/v0.5/webintercar/productos`
            if (text.length > 0) {
                url = url + `?text=${text}` 
                console.log(url)
            }
            const fetchProductos = await fetch(url)
            const jsonProductos = await fetchProductos.json()
            return jsonProductos.data
        }catch(err) {
            console.log(err)
            return ['error:'+ err]
        }

    }

    const productosFetch = await getProductos()
---
<table class="mx-auto phone:text-xs tablet:text-lg laptop:text-2xl mt-3"
 style="width:90%">
    <tr class="text-center text-ic-white border-b-2 border-ic-message">
        <td class="">Codigo</td>
        <td class="">Titulo</td>
        <td class="">Precio</td>
        <td class="">Activo</td>
        <td class="">Categoria</td>
        <td class="">Ver ficha</td>
        {
            productosFetch.map((producto: any)=> <RowTableProductos producto={producto}/>)
        }
    </tr>
</table>

