---
const { filter } = Astro.props;
---

<h3 class="text-sm phone:text-center laptop:text-left tablet:ml-4 text-ic-gray">
  Filtro de texto:<span class="ml-1 text-ic-message text-xs">{filter}</span>
</h3>
