---
const {file} = Astro.props;
---

<div class="mt-10 py-4 bg-ic-disabled rounded-sm col-span-1 phone:mx-2 tablet:mx-0">
    <img class="object-cover mx-auto h-auto w-11/12 rounded-md" src={file} alt="">
</div>