---
---

<div class="grid grid-cols-3 gap-2 my-5 px-2">
    <button class="px-2 bg-ic-disabled rounded-sm hover:bg-ic-message">Editar</button>
    <button class="px-2 bg-ic-disabled rounded-sm hover:bg-ic-gray">Cancelar</button>
    <button class="px-2 bg-ic-disabled rounded-sm hover:bg-ic-blackorange">Eliminar</button>
    <button class="col-span-3 px-2 bg-ic-disabled rounded-sm hover:bg-ic-orange">Guardar</button>
</div>