---
---

</div>
<form action="" class="mx-12 mt-2 mb-10">
    <div class="phone:flex-wrap tablet:flex-grow mx-3">
            <div class="">
                <label for="id-category" class="font-semibold text-ic-gray">
                Id categoria:
                <input type="text" class="w-full rounded-sm bg-ic-message" placeholder=" Ej: 1" name="id-category" id="id-category"/>
                </label>
            </div>
        <div>
            <label for="name-category" class="font-semibold text-ic-gray">
            Nombre categoria:
            <input class="w-full rounded-sm bg-ic-message" type="text" placeholder=" Ej: Churrascos" name="name-category" id="name-category">
        </div>
        </label>
    </div>
    <p class="text-center text-xs text-ic-message">Estas creando una nueva categoria </p>
    <div class="grid grid-cols-2 text-center my-2 gap-2">
        <button class="px-1 text-xs text-ic-gray border-2 rounded-sm border-ic-message">Cancelar</button>
        <button class="px-1 text-xs text-ic-gray border-2 rounded-sm border-ic-message">Eliminar</button>
        <button class="px-1 text-xs text-ic-gray border-2 rounded-sm border-ic-message grid gird-cols-subgrid col-span-2">Guardar</button>
    </div>
</form>