---
import Layout from "../layouts/Layout.astro";
import TableCategorias from "../components/categoriaComponents/TableCategorias.astro";
import Back from "../components/Back.astro";
---

<Back url="/" />
<h1 class="mt-6 text-center text-2xl font-semibold text-ic-orange">
  CATEGORIAS
</h1>
<TableCategorias />
<Layout />
