---
import Layout from "../layouts/Layout.astro";
import TableCategorias from "../components/categoriaComponents/TableCategorias.astro";
---

    <h1 class="mt-6 text-center text-2xl font-bold text-ic-orange">CATEGORIAS</h1>
    <TableCategorias />
    <Layout/>