---
import FormCategoria from "../components/categoriaMantenedorComponents/formCategoria.astro"
import Layout from "../layouts/Layout.astro"
---

    <h1 class="text-center text-ic-orange mt-6 text-2xl font-bold">Mantenedor categorias</h1>
    <FormCategoria/>
    <Layout/>