---
import Layout from "../layouts/Layout.astro";
import Back from "../components/Back.astro";
import TableProductos from "../components/productosComponents/TableProductos.astro";
import TextFilter from "../components/productosComponents/TextFilter.astro";
import FindProductos from "../components/productosComponents/FindProductos";

const text = Astro.url.searchParams.get('text') || ''
---
<Back url="/"/>
<h1 class="text-center my-3 phone:text-xl tablet:text-2xl font-semibold text-ic-orange">LISTADO PRODUCTOS</h1>
<FindProductos client:load/>
{
text.length != 0 ?
<TextFilter filter={text}/>
:
<></>
}
<TableProductos text={text}/>
<Layout/>