---
import Icon from "../Icon.astro";
const {categoria, url} = Astro.props;
---

<tr class="group text-center text-ic-gray font-light border-b-2 border-ic-blackorange">
    <td class="group-hover:text-ic-orange">{categoria.id}</td>
    <td class="">{categoria.nombre}</td>
    <td> <a href={url}><Icon center="mx-auto hover:bg-ic-orange rounded-sm" width=30 src="/eye.svg"/></a></td>
</tr>