---
import RowTableCategorias from "./RowTableCategorias.astro"
const categoria = {
    id : 1,
    name : "Ampolletas",
    updatedAt : '22/03/2024',
    createdAt : '01/01/2024'
}
---
<table style="width:70%" class="mx-auto my-3 phone:text-xs tablet:text-sm">
    <tr class="text-center border-2 font-semibold text-ic-gray">
        <td class="border-2 px-0.5">Id</td>
        <td class="border-2 px-0.5">Nombre</td>
        <td class="border-2 px-0.5">Creado</td>
        <td class="border-2 px-0.5">Modificado</td>
        <td class="border-2 px-0.5">Ajustar</td>
    </tr>
    <RowTableCategorias url={"/mantenedorCategorias"} categoria={categoria} />
</table>
