---
import RowTableCategorias from "./RowTableCategorias.astro"

const getCategorias = async() => {
    try{
        const fetchCategorias = await fetch(`http://localhost:8000/api/v0.5/webintercar/categorias`)
        const jsonCategorias = await fetchCategorias.json()
        return jsonCategorias.data
    }catch(err) {
       console.log(err) 
       return ["error"]
    }
}


const categorias = await getCategorias()

---
<table style="width:70%" class="mx-auto my-3 phone:text-xs tablet:text-sm">
    <tr class="text-center font-semibold text-ic-gray border-b-2 border-ic-message">
        <td class=" px-0.5">Id</td>
        <td class=" px-0.5">Nombre</td>
        <td class=" px-0.5">Ajustar</td>
    </tr>
    {
    categorias.map((v:any)=> 
    <RowTableCategorias url={"/mantenedorCategorias"} categoria={v} />
)
    }
</table>
